@model IEnumerable<LMCStore.Models.Product>
@{
    ViewBag.Title = "Autoparts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Autoparts</h2>

<ul>
    @foreach (var p in Model)
    {
        <li>@Html.ActionLink(p.PRODUCT_NAME, "ViewAutopart", "Home", new { Name = p.PRODUCT_NAME }, null)</li>
    }
</ul>
