@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LMCAutoparts</h1>
    <p class="lead">LMCStore is going to be the sample page for the actual LMCAutopartsStore where you are going to be able to see products, buy products and more</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>