@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Prueba_LIS</h1>
    <p class="lead">Aca es donde sera posible crear un nuevo formulario de acuerdo a al examen a aplicar en el paciente.</p>
    @*<p>Bootstrap template grab from <a href="https://bootswatch.com/3/slate/"> bootswatch</a></p>*@

</div>