@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LMCAutoparts</h1>
    <p class="lead">LMCStore is going to be the sample page for the actual LMCAutopartsStore where you are going to be able to see products, buy products and more.Compose by HTML, CSS, JavaScript.</p>
    <p>Bootstrap template grab from <a href="https://bootswatch.com/3/slate/"> bootswatch</a></p>

</div>